.cover {
    width: 100%;
    margin: 92px auto;
}


@media all and (max-width: 768px) {
    .cover {
        margin: 90px auto 88px;
    }
}

@media all and (max-width: 600px) {
    .cover {
        margin: 66px auto 64px;
    }
}
