.intro__title {
    margin: 0 0 40px;
    padding: 0;
    color:white;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    max-width: 690px;
}


@media all and (max-width: 768px) {
    .intro__title {
        font-size: 54px;
    }
}   

@media all and (max-width: 700px) {
    .intro__title {
        font-size: 32px;
    }
}   